* {
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  font-weight: bold;
}
header {
  width: 100vw;
}
#sub-container {
  width: 68vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
#branding {
  width: 12.8vw;
  color: #354463;
  text-align: left;
  font-size: 0.9vw;
}
.navigation {
  width: 40vw;
  font-weight: lighter;
  font-size: 1vw;
}
.navigation ul {
  display: flex;
  justify-content: space-around;
}
li {
  display: inline;
}
a {
  text-decoration: none;
  color: #354463;
}
.donate {
  width: 10vw;
  border-radius: 1.8vw;
  padding: 1vw 0vw 1vw 0vw;
  font-size: 1vw;
  background-color: #c1f7d5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#picture {
  background-image: url(./images/annie-spratt-135307-unsplash.png);
  background-size: cover;
  width: 100vw;
  opacity: 1;
}
.container1 {
  margin-bottom: 0;
  flex-wrap: wrap-reverse;
}
#text {
  width: 36vw;
  margin-top: 8vw;
  margin-bottom: 8vw;
  background-color: #ffffff;
  text-align: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #354463;
  padding: 3vw;
  position: relative;
}
#text h1 {
  font-size: 2.8vw;
  margin-bottom: 2vw;
  margin-left: 1vw;
}
#text p {
  font-weight: lighter;
  text-decoration: underline;
  font-size: 1vw;
  margin-left: 1vw;
}
@font-face {
  font-family: flood;
  src: url(./fonts/FloodStd.otf);
}
#image1 {
  font-family: flood;
  font-size: 4vw;
  font-weight: normal;
  margin-right: 11vw;
  margin-bottom: 9vw;
  color: #ffffff;
}
#issue {
  background-color: #354463;
  color: #ffffff;
  font-weight: normal;
  font-size: 1vw;
  position: absolute;
  left: 4vw;
  top: -1.5vw;
  display: flex;
  justify-content: center;
  padding: 0.8vw 2vw 0.8vw 2vw;
}
section {
  width: 100vw;
  background-color: #c1f7d5;
  display: flex;
  justify-content: center;
  padding: 3vw 0 3vw 0;
  position: relative;
}
.container2 {
  width: 80vw;
  display: flex;
  font-size: 1.1vw;
  color: #354463;
  justify-content: space-between;
}
.container2 div {
  width: 16.5vw;
}
.container2 h1 {
  margin-bottom: 0.5vw;
}
.container2 p {
  font-weight: lighter;
}
#action {
  padding: 0.8vw 2vw 0.8vw 2vw;
  background-color: #354463;
  font-size: 1vw;
  color: #ffffff;
  font-weight: lighter;
  position: absolute;
  bottom: 9.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container3 {
  width: 100vw;
  margin: 0;
  justify-content: center;
  background-color: #354463;
  padding-top: 2vw;
}
.sub-container2 {
  width: 80vw;
  font-size: 1.1vw;
  color: #354463;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8vw;
  position: relative;
}
#what_we_do {
  padding: 0.8vw 1vw 0.8vw 1vw;
  width: 8vw;
  background-color: #ffffff;
  font-size: 0.8vw;
  color: #354463;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 2vw;
  margin-top: 2vw;
}
.sub-container2 h1 {
  padding: 9vw 0 3vw 0;
  font-size: 2.85vw;
  color: #ffffff;
  margin-bottom: 5vw;
}
#boxes {
  display: flex;
}
.box {
  color: black;
  margin: 0 5.5vw 0 0;
  box-sizing: border-box;
  background-color: #ffffff;
}
.sub-box {
  height: 19vw;
  width: 22vw;
}
.sub-box1 {
  background-image: url(./images/tree-planting@3x.png);
  background-size: cover;
  position: relative;
  bottom: 2.5vw;
  left: 2.7vw;
}
.sub-box2 {
  background-image: url(./images/education-training@3x.png);
  background-size: cover;
  position: relative;
  bottom: 2.5vw;
  left: 2.7vw;
}
.sub-box3 {
  background-image: url(./images/advocacy@3x.png);
  background-size: cover;
  position: relative;
  bottom: 2.5vw;
  left: 2.7vw;
}
.box h2 {
  margin-left: 3vw;
  font-size: 2vw;
  padding-bottom: 1vw;
  color: #354463;
}
.box p {
  margin-left: 3vw;
  font-size: 1.05vw;
  font-weight: lighter;
  color: #354463;
  padding-right: 2vw;
}
.read1 {
  height: 1vw;
  width: 8.5vw;
  padding: 1.5vw 0 1.5vw 0;
  border-radius: 1.5vw;
  margin-left: 3vw;
  margin-top: 1vw;
  margin-bottom: 2vw;
}
.sub-container4 div {
  width: 12.5vw;
}
.container4 {
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  margin-top: 4vw;
  margin-bottom: 4vw;
}
.sub-container4 h1 {
  font-size: 1.5vw;
}
#image2 {
  font-family: flood;
  font-size: 2.5vw;
  font-weight: normal;
}
.sub-container4 div h2 {
  font-weight: lighter;
  margin-bottom: 1.5vw;
  border-bottom: black 1px solid;
  font-size: 1.2vw;
}

/* for mobiles */

@media only screen and (max-width: 600px) {
  header {
    margin-top: 5vw;
  }
  .container {
    flex-direction: column;
  }
  #sub-container {
    width: 80vw;
    margin-bottom: 3vw;
  }
  #branding h1 {
    font-size: 4vw;
    width: 28vw;
  }
  .navigation ul {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .navigation ul li a {
    font-size: 3.5vw;
  }
  .donate {
    width: 80vw;
    border-radius: 30vw;
    margin-bottom: 3vw;
    font-size: 4vw;
    padding: 2vw 0 2vw 0;
  }
  #picture {
    display: flex;
    justify-content: center;
    background-position-x: -110vw;
  }
  .container1 {
    margin: 0;
    padding: 0;
    padding-top: 3vw;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  #text {
    margin-top: 15vw;
    margin-bottom: 10vw;
    width: 80vw;
    text-align: center;
  }
  #text h1 {
    font-size: 5.6vw;
    padding-top: 8vw;
    padding-bottom: 5vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }
  #text p {
    font-size: 4vw;
    padding-bottom: 6vw;
    padding-right: 4vw;
    padding-left: 4vw;
  }
  #image1 {
    padding: 0;
    margin: 0;
    margin-top: 8vw;
    font-size: 8vw;
  }
  #issue {
    font-size: 3vw;
    padding: 2vw 8vw 2vw 8vw;
    left: 22vw;
    top: -4vw;
  }
  .container2 {
    flex-wrap: wrap;
    margin-top: 6vw;
    margin-bottom: 6vw;
  }
  .container2 div {
    width: 31vw;
  }
  .container2 div h1 {
    font-size: 5vw;
    margin-bottom: 3vw;
  }
  .container2 div p {
    font-size: 3vw;
  }
  #share {
    margin-top: 6vw;
  }
  #donate {
    margin-top: 6vw;
  }
  #action {
    font-size: 3vw;
    padding: 2vw 8vw 2vw 8vw;
    bottom: 59vw;
  }
  #boxes {
    flex-direction: column;
    width: 80vw;
  }
  .box {
    width: 80vw;
    margin-bottom: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box h2 {
    font-size: 5vw;
    margin-bottom: 3.5vw;
    text-align: center;
  }
  .sub-box {
    height: 40vw;
    width: 60vw;
    left: 0vw;
    bottom: 8vw;
  }
  .sub-container2 {
    padding-top: 20vw;
  }
  .sub-container2 h1 {
    margin-bottom: 20vw;
    font-size: 5.5vw;
    text-align: center;
  }

  .box p {
    font-size: 4.6vw;
    text-align: center;
    margin-bottom: 10vw;
  }
  .read1 {
    width: 40vw;
    font-size: 5vw;
    padding: 6vw 0 6vw 0;
    height: 6vw;
    margin-bottom: 10vw;
  }
  #what_we_do {
    padding: 3vw 3vw 3vw 3vw;
    width: 30vw;
    font-size: 3.5vw;
    top: 10vw;
    left: 20vw;
  }
  .sub-container4 h1 {
    font-size: 4vw;
    margin-bottom: 20vw;
  }
  .sub-container4 div h2 {
    font-size: 3vw;
    margin-bottom: 2vw;
    border: 0;
  }
  .sub-container4 div p {
    text-decoration: underline;
  }
  #contact p {
    text-decoration: none;
  }
  #links {
    order: 1;
    margin-bottom: 5vw;
  }
  #image2 {
    order: 2;
    margin-left: auto;
    font-size: 8vw;
  }
}

/* for tablet */

@media only screen and (max-width: 1023px) and (min-width: 601px) {
  header {
    margin-top: 5vw;
  }
  #sub-container {
    width: 80vw;
    margin-bottom: 3vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #branding h1 {
    font-size: 4vw;
    width: 28vw;
    margin-bottom: 2vw;
  }
  .navigation ul {
    padding: 0;
    width: 100%;
    justify-content: space-between;
  }
  .navigation ul li a {
    font-size: 2vw;
  }
  .donate {
    width: 30vw;
    border-radius: 10vw;
    margin-bottom: 3vw;
    font-size: 2vw;
    padding: 2vw 0 2vw 0;
  }
  #picture {
    background-position: right;
  }
  .container1 {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  #text {
    width: 100%;
  }
  #text h1 {
    font-size: 5vw;
    padding-top: 5vw;
    margin-bottom: 4vw;
    padding-left: 3vw;
  }
  #text p {
    font-size: 2.5vw;
    padding-bottom: 5vw;
    padding-left: 3vw;
  }
  #image1 {
    font-size: 7vw;
    padding-top: 6vw;
  }
  #issue {
    font-size: 2vw;
    padding: 1.5vw 3.5vw 1.5vw 3.5vw;
    left: 7vw;
    top: -2.5vw;
  }
  .container2 {
    flex-wrap: wrap;
    margin-top: 6vw;
    margin-bottom: 6vw;
  }
  .container2 div {
    width: 31vw;
  }
  .container2 div h1 {
    font-size: 3.5vw;
    margin-bottom: 2vw;
  }
  .container2 div p {
    font-size: 2vw;
  }
  #share {
    margin-top: 6vw;
  }
  #donate {
    margin-top: 6vw;
  }
  #action {
    font-size: 2vw;
    padding: 1.5vw 3.5vw 1.5vw 3.5vw;
    bottom: 42.5vw;
  }
  #boxes {
    flex-direction: column;
  }
  .box {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 10vw;
  }
  .box-heading {
    margin-left: 10vw;
    margin-top: 5vw;
    width: 34vw;
  }
  .box-heading h2 {
    font-size: 3vw;
    margin-bottom: 3vw;
  }
  .box-heading p {
    font-size: 1.8vw;
  }
  .sub-box {
    height: 20vw;
    width: 28vw;
    bottom: 3vw;
  }
  .read1 {
    width: 15vw;
    height: 1vw;
    padding: 3vw 0 3vw 0;
    position: relative;
    left: 12vw;
    bottom: 6vw;
  }
  .sub-container2 h1 {
    margin-bottom: 10vw;
    margin-top: 3vw;
  }
  .container3 {
    padding-top: 7vw;
  }
  #what_we_do {
    font-size: 1.5vw;
    width: 15vw;
    padding: 1.5vw 2.5vw 1.5vw 2.5vw;
    top: 1vw;
  }
  .sub-container4 div {
    width: 20vw;
  }
  .sub-container4 h1 {
    font-size: 3vw;
    margin-bottom: 20vw;
  }
  .sub-container4 div h2 {
    font-size: 3vw;
    margin-bottom: 2vw;
    border: 0;
  }
  .sub-container4 div p {
    text-decoration: underline;
  }
  #contact p {
    text-decoration: none;
  }
  #links {
    order: 1;
    margin-bottom: 5vw;
    margin-left: auto;
  }
  #image2 {
    order: 2;
    margin-left: 7vw;
    font-size: 6vw;
  }
}
